---
import { Image } from "astro:assets";
import '@fontsource-variable/playfair-display';
import Container from "./Container.astro";



---
<section class="mx-auto min-h-screen py-16">
	<Container>
		<div class="flex justify-evenly flex-col md:flex-row ">
			
			<div class="flex flex-col gap-4 flex-1 relative mr-6  text-xs md:text-base">
				<h3 class="uppercase text-secondaryDark font-semibold tracking-widest">Sobre Mim</h3>
				<h2 class="text-3xl font-play italic">Renata Nery</h2>
				<p class="italic">Psicóloga (CRP 22/04863)</p>
				<p>Olá, me chamo Renata, sou psicóloga e meu objetivo aqui é auxiliar mais pessoas a se aproximarem de si mesmas, lidarem com suas emoções e viverem a vida de forma livre, independente e plena. Sempre com base nos princípios éticos e da Psicologia como ciência e profissão.
				</p>
				<p>	Para tanto, utilizo o referencial teórico da Cognitivo Comportamental. Também sou Advogada, Pós-graduada em Terapia Cognitivo Comportamental, Orientação Vocacional/Profissional, Psicologia Jurídica/Avaliação Psicológica e Psicologia Hospitalar.
				</p>
				<p>Entendo que no decorrer de nossas vidas, estamos sempre passando por mudanças e em constante construção. É função do psicólogo ajudar no enfrentamento de situações novas e/ou desconhecidas, em que o indivíduo ainda não tem repertório para lidar.
				Quando nos damos a chance de viver processos terapêuticos, nos abrimos para descobrir formas de seguir com mais clareza.
				</p>
				<p>A busca por um psicólogo pode possibilitar a resolução de problemas através de uma escuta ativa, lançando um olhar que gere ajustes no nosso caminhar. Muitas vezes, por ter uma “lanterna” nas mãos, o psicólogo pode “iluminar” situações que passariam despercebidas ou que trariam intenso sofrimento. Essa luminosidade traz transformações e oportunidade de crescimento, superação e autoconhecimento.
				</p>
				<p>	Se você deseja passar por esse processo comigo, entre em contato e marque uma sessão.
				Dê esse passo em busca da melhora da sua saúde mental e de viver de forma plena, autêntica e livre.
				</p>
				<Image src="/shape_3.png" alt="shape" width={400} height={400} class='absolute bottom-28 right-0 opacity-10'/>
			</div>
			<div class="flex-1 p-4 items-center justify-center">
				<Image src="/renata_sobre.png" alt="Sobre Renata" width={600} height={650} class='rounded-lg'>
			</div>
		</div>
</Container>
</section>