---
import '@fontsource-variable/playfair-display';
import Container from './Container.astro';

---

<section class="min-h-full w-full bg-lightBlue flex flex-col" id="beneficios">
	<Container>
	<h1 class="text-3xl text-darkBlue font-play p-8 flex justify-center">Benefícios da Terapia Online</h1>

	<ol class="flex flex-col sm:flex-row gap-6 justify-center">
		<ul class="p-6 flex flex-col items-center flex-1">
			<h5 class="font-bold text-md uppercase tracking-widest text-secondaryDark">Praticidade e fácil acesso
			</h5>
			<div class="bg-slate-600 w-10 h-0.5 my-4"/>
			<p class="text-sm">Nada de espera ou chegar atrasado em uma consulta. As suas sessões de terapia podem ser feitas no conforto da sua casa ou escritório. Mas também em uma viagem ou durante um passeio pelo parque. O consultório é somente um espaço físico que pode ser reinventado por você!</p>
		</ul>
		<ul class=" p-6 flex flex-col items-center flex-1">
			<h5 class="font-bold text-md uppercase tracking-widest text-secondaryDark">100% Sigiloso e Anônimo

			</h5>
			<div class="bg-slate-600 w-10 h-0.5 my-4"/>
			<p class="text-sm">Consulta virtual por vídeo e chat 100% protegida e sigilosa, além de atender todas as regulamentações dos Conselhos Federais de Psicologia e Medicina.</p>
		</ul>
		<ul class=" p-6 flex flex-col items-center flex-1">
			<h5 class="font-bold text-md uppercase tracking-widest text-secondaryDark">Experiência eficaz

			</h5>
			<div class="bg-slate-600 w-10 h-0.5 my-4"/>
			<p class="text-sm">Nada de espera ou chegar atrasado em uma consulta. As suas sessões de terapia podem ser feitas no conforto da sua casa ou escritório. Mas também em uma viagem ou durante um passeio pelo parque. O consultório é somente um espaço físico que pode ser reinventado por você!</p>
		</ul>
	</ol>

</Container>
</section>
