---
import { Image } from "astro:assets";

---

<footer class="bg-[#BFCDD9] ">

	<div class="flex text-slate-900 items-center justify-center">
		<div class="flex flex-col gap-2 flex-1">
			<h4 class="uppercase text-2xl tracking-wider">Contato</h4>
			<p>98 991919191</p>
			<p>contato@renatanery.com.br</p>
			<p> psi.renatanery</p>
		</div>
		<div class="flex-1">	
			<Image src="/logo_footer.png" alt="Logo Circle" width={500} height={500}/>
		</div>
		<div class="flex flex-col items-center flex-1">
			<small>Atenção: Este site não oferece atendimento imediato a pessoas em crise suicida. 
			</small>
			<p>Em caso de crise ligue para o CVV - 188
			</p>
			<small>Em caso de emergência, procure o hospital mais próximo.
			</small>
			<small>Havendo risco de morte, ligue imediatamente para o SAMU (telefone 192).</small>
		</div>
	</div>

	<!-- Rodape -->
	<div class="flex justify-between text-xs bg-[#C16E70] h-10 items-center px-6 flex-wrap text-rose-50 font-medium">
		<small>Psicólogo Responsável: ​​Renata Nery (​​​CRP 22/04863)</small>
		<small>Copyright Ⓒ 2024.
		Desenvolvido por Luis Viegas.
		</small>
	</div>

</footer>