---
import { Image } from "astro:assets";
import Container from "./Container.astro";
import { Icon } from 'astro-icon'
import Link from "./Link.astro";

---

<footer class="bg-[#3b344f]" id="footer">
	<Container>
	<div class="flex items-center flex-col md:flex-row">
		<div class="flex-1 items-center">	
			<Image src="/logo_circlew.png" alt="Logo Circle" width={250} height={250}/>
		</div>
		<div class="flex flex-col items-center md:items-start gap-2 flex-1 text-primary py-8">
			<h4 class="uppercase text-2xl mb-6 tracking-widest">Contato</h4>
			<div class="flex gap-2">
				<Icon name="ic:baseline-phone" class="w-4" />
				<Link href="https://api.whatsapp.com/send?phone=5598989344890&text=Ol%C3%A1%2C%20vim%20pelo%20site!%20Gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20a%20consulta." style="outline" target="_blank">(98) 98934-4890</Link>
			</div>
			<div class="flex gap-2">
				<Icon name="ic:round-mail" class="w-4" />
				<Link href="mailto:contato@renatanery.com.br" style="outline" target="_blank">contato@renatanery.com.br</Link>
			</div>
			<div class="flex gap-2">
				<Icon name="mdi:instagram" class="w-4" />
				<Link href="https://www.instagram.com/psi.renatanery/" style="outline" target="_blank">psi.renatanery</Link>
			</div>
		</div>
	
		<div class="flex flex-col justify-center flex-1 text-primary py-4 text-xs sm:text-base">
			<small>Atenção: Este site não oferece atendimento imediato a pessoas em crise suicida. 
			</small>
			<p class="font-semibold">Em caso de crise ligue para o CVV - 188
			</p>
			<small>Em caso de emergência, procure o hospital mais próximo.
			</small>
			<small>Havendo risco de morte, ligue imediatamente para o SAMU (telefone 192).</small>
		</div>
	</div>

</Container>

<!-- Rodape -->
	<div class="flex justify-center sm:justify-between text-xs md:text-base bg-[#C16E70] h-12 items-center sm:px-16 flex-wrap text-rose-50 font-medium">
	
		<small>Psicólogo Responsável: ​​Renata Nery (​​​CRP 22/04863)</small>
		<small>Copyright Ⓒ 2024.Desenvolvido por Luis Viegas.</small>

	</div>
</footer>