---
import {Image} from "astro:assets"
import Navbar from "./Navbar.astro";
import Link from "./Link.astro";
---

<header
    class="flex justify-between items-center px-16 py-10 max-sm:px-5 max-sm:py-10  justify-self-center w-full"
>
    <a href="/" class="flex gap-x-4 items-center">
        <Image
            src="/logo_renata_nery.png"
            alt="Renata Nery Psicologia"
            width={82}
            height={82}
            format="webp"
            class="w-48"
        />

    </a>
	 <Navbar />
	 <div class="hidden items-center mt-3 gap-4 lg:block">
	 <Link href="https://api.whatsapp.com/send?phone=5598989344890&text=Ol%C3%A1%2C%20vim%20pelo%20site!%20Gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20a%20consulta." style="primary" target="_blank">Contato</Link>
	 </div>
</header>