---
import '@fontsource-variable/playfair-display';
import Link from './Link.astro';
import {Image} from "astro:assets"

---

<section class="flex flex-col md:flex-row max-w-[1600px] min-h-full mx-auto px-16 max-sm:px-5 items-center justify-between gap-8">
	<div class="flex flex-col justify-center items-center md:items-start">
		<h2 class="text-xl lg:text-3xl font-play text-secondary">A ajuda que você precisa!</h2>
		<h1 class="text-4xl md:text-6xl lg:text-7xl  font-play mb-10">Psicoterapia Online</h1>
		<p class="text-xs md:text-lg">Há conversas que não podem esperar.
		</p>
		<p class="text-xs md:text-lg">Tenha uma orientação psicológica em apenas alguns cliques.
		</p>
		<Link href="https://api.whatsapp.com/send?phone=5598989344890&text=Ol%C3%A1%2C%20vim%20pelo%20site!%20Gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20a%20consulta." style="primary" target="_blank" class='mt-10'>Agende sua Consulta</Link>
		<Image src='/shape_1.png' alt='Circle' width={450} height={450} class='absolute top-50 -left-28 opacity-10 -z-10'/> 
	</div>
	<div class="relative mt-8">
	<Image src='/renata_hero.jpg' 
			 alt='Hero Renata' 
			 width={600} 
			 height={600}
			 class='rounded-t-full min-h-[380px] min-w-[300px] object-cover'/>
			<div class="hidden lg:block absolute w-48 h-72 bottom-0 -right-24 bg-slate-600 rounded-t-full"/>
			<div class="hidden lg:block absolute w-[100px] h-[200px] bottom-0 -right-36 bg-slate-500 rounded-t-full "/>
	
	</div>
</section>