---
import { Image } from "astro:assets";
import '@fontsource-variable/playfair-display';
import Container from "./Container.astro";
import FAQ from "./FAQ";
import Link from "./Link.astro";


---

<section class="pt-16">
	<Container>
		<div class="flex flex-col md:flex-row gap-8">	
			<div class="flex flex-col items-center justify-center md:w-1/2">
				<h2 class="font-play text-xl sm:text-3xl mb-4">Compreenda como resolver seus conflitos.</h2>
				<h3 class="font-play text-lg sm:text-2xl text-secondary m-4 font-semibold">Agende sua consulta online e viva o prazer que​ é se conhecer!</h3>
				<p>Encontre um caminho para a sua tranquilidade e novas maneiras de ser feliz.</p>
				<p>Ferramentas de videochamada disponíveis para seu atendimento: Whatsapp, Skype, Meet, Zoom.</p>
				<Image src="/renata_perguntas.png" alt="Perguntas mais frequentes" width={500} height={500} class="rounded-t-full mt-12"/>
			</div>
			<div class="flex flex-col items-center md:items-start md:w-1/2">
				<small class="uppercase text-secondary font-semibold tracking-wider	">Tire suas dúvidas</small>
				<h2 class="font-play text-3xl mb-10">Perguntas Frequentes.</h2>
				<FAQ client:load />
				<Link href="https://api.whatsapp.com/send?phone=5598989344890&text=Ol%C3%A1%2C%20vim%20pelo%20site!%20Gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20a%20consulta." class='mt-10'>Agende sua consulta</Link>
			</div>
		</div>

		<Image src="/shape_2.png" alt="shape" width={400} height={400} class='absolute top-30 right-0 opacity-10'/>
	</div>
</Container>

</section>