---
import { Image } from "astro:assets";
import Container from "./Container.astro";
---

<section class="min-h-screen bg-[#f5f5f5]" id="especialidades">
	<Container>
	<div class="flex flex-col gap-6 items-center justify-center md:m-8">	
		<h1 class="text-3xl text-darkBlue font-play pt-8">Psicólogo Online</h1>
		<h3 class="text-lg font-play font-semibold pb-8">Adolescentes e Adultos</h3>
	</div>

	<div class="flex flex-col md:flex-row gap-6 justify-center relative">
		<div class="md:p-6 flex flex-col items-center flex-1 gap-y-4">
			<h5 class="font-bold text-md uppercase tracking-widest text-secondaryDark">Ansiedade
			</h5>
			<div class="bg-slate-600 w-10 h-0.5 gap-4"/>
				<p class="text-sm font-medium">Apesar de ser um sentimento normal, quando excessivo torna-se prejudicial. Normalmente, vem acompanhada de desconforto, seja físico ou não. Portanto, acaba prejudicando a sua vida pessoal e profissional.
				</p>
				<p class="text-sm">	Entender esse mecanismo e identificar o que desencadeia a ansiedade em você é importante. Assim, você aprende técnicas para controlar eficientemente os sintomas. A psicologia também ajuda a não intensificar esse problema, tratando fobias e depressão, por exemplo. </p>
			</div>
		<div class="md:p-6 flex flex-col items-center flex-1">
			<h5 class="font-bold text-md uppercase tracking-widest text-secondaryDark">Relacionamentos 


			</h5>
			<div class="bg-slate-600 w-10 h-0.5 my-4"/>
			<p class="text-sm font-medium">Bons relacionamentos são construídos através da comunicação. Caso ela não exista ou contenha ruídos, os laços correm risco de ter prazo de validade. A Psicologia ajuda você a melhorar essa área, bem como seus comportamentos, hábitos, pensamentos e emoções . Ou seja, te ajuda a ter uma comunicação eficaz para ter relacionamentos satisfatórios. </p>
		</div>
		<div class="md:p-6 flex flex-col items-center flex-1 gap-y-4">
			<h5 class="font-bold text-md uppercase tracking-widest text-secondaryDark">Saúde Emocional</h5>
			<div class="bg-slate-600 w-10 h-0.5"/>
			<p class="text-sm font-medium">A sensação de paz com o seu passado, presente e futuro, bem como sentir-se confortável com as pessoas ao seu redor é real.</p>
			<p class="text-sm">A Psicologia ajuda você a desconstruir percepções, dar adeus aos pensamentos limitantes e a crenças prejudiciais que são alimentadas por nós por anos. Assim, você consegue trilhar um caminho leve e tranquilo.</p>
		</div>
	</div>
	<div class="flex flex-col md:flex-row gap-6 justify-center relative">
		<div class="md:p-6 flex flex-col items-center flex-1">
			<h5 class="font-bold text-md uppercase tracking-widest text-secondaryDark">Autoestima
			</h5>
			<div class="bg-slate-600 w-10 h-0.5 my-4 flex flex-col gap-4"/>
				<p class="text-sm font-medium">Ame-se do jeito que você é! Valorize a sua identidade, confie em si mesmo e reconheça o seu valor. É possível viver feliz e satisfeito com nós mesmos! A Psicologia ajuda você a conquistar a tão desejada autoestima. Isso por meio da independência emocional, aprendendo a amar e ser amado.
				</p>
			</div>
		<div class="md:p-6 flex flex-col items-center flex-1 gap-y-4">
			<h5 class="font-bold text-md uppercase tracking-widest text-secondaryDark">Autoconhecimento</h5>
			<div class="bg-slate-600 w-10 h-0.5"/>
			<p class="text-sm font-medium">O autoconhecimento é o segredo para o sucesso. Conhecer verdadeiramente suas qualidades, capacidades, desejos e pontos a melhorar é fundamental para que qualquer indivíduo consiga lidar com imprevistos, compreender melhor os que estão à sua volta e buscar desenvolvimento constante em todas as áreas da vida. </p>
			<p class="text-sm">No entanto, esse é um processo longo e trabalhoso, que exige muito exercício e reflexão. Mas a Psicologia auxilia e norteia essa jornada tão importante para definir quais caminhos são mais interessantes para conquistar o que se anseia.</p>
		</div>
		<div class="md:p-6 flex flex-col items-center flex-1 gap-y-4">
			<h5 class="font-bold text-md uppercase tracking-widest text-secondaryDark">Saúde Mental</h5>
			<div class="bg-slate-600 w-10 h-0.5"/>
			<p class="text-sm font-medium">Ter uma boa saúde mental significa saber lidar bem com os próprios pensamentos e sentimentos, sejam eles positivos ou não. Quando você não lida bem com o medo ou a frustração, por exemplo, pode desenvolver doenças como a depressão.
			É por isso que os cuidados com a saúde mental e ter acompanhamento psicológico são fundamentais para a qualidade de vida e para a prevenção de doenças. Cuidar do físico-psíquico se torna necessário para uma existência saudável, ativa e potente.</p>
			<p class="text-sm">É por isso que, mais do que nunca, ficar atento à sua saúde mental é algo tão importante.</p>
		</div>
		<Image src="/shape_5.png" alt="shape" width={600} height={600} class='absolute -top-40 -left-20 opacity-10'/>
	</div>

	<div class="flex flex-col md:flex-row items-center justify-between mt-8">
		<div class=" flex flex-col gap-4 md:w-1/2 mb-8 text-sm sm:text-base">
			<h2 class="text-xl sm:text-3xl">O que é <span class="text-secondaryDark font-semibold">Psicoterapia?</span></h2>
			<p>Você já ouviu falar em psicoterapia? Esse é um processo que proporciona ao paciente a adquirir consciência sobre seus próprios atos. É algo que precisa ser feito em médio a longo prazo, dessa forma, ele terá tempo para explorar totalmente a sua insegurança, dor, emoção ou experiência e compreender a situação.</p>
			<p>Acreditamos que a fala sobre si dá ao paciente a oportunidade de sentir e entrar em contato consigo mesmo. Assim, consegue perceber os conteúdos significativos da sua vida, os novos sentidos e construir novas experiências com abordagens criativas. Uma maneira de ressignificar sua história com carinho e acolhimento.</p>
			<p>Assim, o paciente tem a oportunidade de resolver conflitos internos, desenvolver um melhor relacionamento consigo mesmo e com quem está ao seu redor. Ao mesmo tempo que desenvolve o autoamor, a responsabilidade por seus atos, amadurecimento e autoconhecimento.</p>
		</div>
		<Image src="/renata_psico2.png" alt="Renata Psicoterapia" width={500} height={500}/>
	</div>
</Container>
</section>