---
import '@fontsource-variable/montserrat';import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Benefits from '../components/Benefits.astro';
import Questions from '../components/Questions.astro';
import Testemonials from '../components/Testemonials.astro';
import Service from '../components/Service.astro';
	interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Há conversas que não podem esperar. Renata Nery Psicóloga" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-primary font-mont overflow-x-hidden">

		<Header />
		<Hero />
		<Benefits />
		<About/>
		<Service />
		<Questions />
		<Testemonials />
		<slot />
		<Footer />
	
	</body>
</html>
